/* card1.css */

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  .icon-container {
    font-size: 2.5rem;
    color: red; /* violet color */
    transition: color 0.3s ease;
  }
  
  .group:hover .icon-container {
    color: yellow;
  }
  
  .hover-effect .icon-container {
    color: yellow;
  }
  
  .group:hover h3,
  .hover-effect h3,
  .group:hover p,
  .hover-effect p {
    color: red !important;
  }
  
  .hover-effect .absolute {
    background-color: red;
    transition: background-color 0.3s ease;
  }
  
  @media (min-width: 768px) {
    .grid-cols-2 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    
    .grid-cols-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (min-width: 468px) {
    .grid-cols-4 {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}