.footer {
    background-image: url(./images/newconfetti.png), radial-gradient(#db241e, #790808);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 20px 0;
}

.footer .socialIcons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; /* Add space below social icons for better separation */
}

.footer .socialIcons a {
    color: #fff;
    transition: color 0.3s;
    font-size: 28px; /* Adjust font size for smaller screens */
    margin-right: 15px; /* Reduced space between icons */
}

.footer .socialIcons a:hover {
    color: #db241e;
}

.footer h6 {
    color: #ffeb3b;
    margin-bottom: 10px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .text-center {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.01);
    padding: 10px 0;
}

.footer .row {
    margin: 0;
}

.footer .mx-auto {
    margin-top: 15px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr; /* Single column on small screens */
    gap: 20px;
}

/* Center-align text in each column */
.footer-col {
    text-align: center;
}

/* Responsive grid adjustments */
@media (min-width: 768px) {
    .footer-grid {
        grid-template-columns: repeat(3, 1fr); /* Three columns on larger screens */
    }
}

