/* Main Container */
.navsmain {
    background-image: url(./images/newconfetti.png), radial-gradient(#db241e, #790808);
    background-repeat: no-repeat;
    background-size: cover;
}

.video-banner-container {
    position: relative;
    width: 100%;
    height:600px;
    margin-top: 1rem;
    overflow: hidden;
  }
  
  .banner-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
  }
  .card1{
    width: 100%;
    height:200px;
    margin-top: 2rem;

  }
  
  .card2{
    width: 100%;
    height: 350px;
    margin-top: 2rem;

  }

.div1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.div2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heads  {
    color: white;
    position: relative;
    top: 10%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    animation: trainFlow 40s linear infinite;
    gap: 1rem;
}
.headss  {
    color: red;
    position: relative;
    top: 10%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    
    gap: 1rem;
}

.phone-icon {
    font-size: 26px; /* Adjust icon size */
}

.phone-number {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.phone-number:hover {
    color: lightyellow;
}

@keyframes trainFlow {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(100%);
    }
}

.heads:hover {
    animation-play-state: paused;
}

/* Social Media Icons */
.divs2 {
    display: flex; 
    justify-content: center; 
    margin-top: 20px;
}

.socialIcons {
    display: flex; 
    list-style: none; 
    padding: 0; 
    margin: 0;
}

.socialIcons li {
    margin: 0 15px; 
}

.socialIcons a {
    color: white; 
    font-size: 28px;
    text-decoration: none;
}

