.navbar {
  background: linear-gradient(to right, white, yellow);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  padding: 10px 20px; 
  z-index: 1000;
}
.navbar-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  z-index: 1001;
}
  .is{
    position: sticky; 
   left: 10%;
    top: 0%;
    width: 50px;
    height: 10px;
  }
 
 
  .navbar-columns {
    display: flex; 
    justify-content: space-between; 
    align-items: start; 
    width: 95%;
    z-index: 10001;
  }

  .navbar-brand {
    display: flex;
    align-items: center; 
  }
  
  .navbar-links {
    display: flex;
    gap: 25px;
    align-items: center;
    list-style: none; 
    text-decoration: none; 
 font-size: 1.2rem;
  }
  
  .navbar a {
    color: black; 
    text-decoration: none; 
    font-weight: bold;
    transition: color 0.3s; 
  }
  
  .navbar a:hover {
    color: #007bff; 
  }
  
  .navbar-actions {
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
    z-index: 1005;
  
}
  
  .navbar input {
    padding: 8px; 
    border: 1px solid red; 
    border-radius: 4px; 
    margin-left: 0%; 
  }
  
  .users {
    display: flex;
    align-items: flex-end; 
    gap: 15px;
    
 }

    .privacy-icon1 {
      font-size: 40px; 

      color: inherit;
      cursor: pointer; 
  }
  .privacy-icon2 {
    font-size: 40px; 

    color: inherit;
    cursor: pointer; 
}
.icon-link {
  background-image: url(./images/newconfetti.png), radial-gradient(#db241e, #790808);
  color: white;         
  border: none;        
  padding: 10px 20px;    
  border-radius: 5px;   
  cursor: pointer;      
  transition: background-color 0.3s ease; 
}

.icon-link:hover {
  background-color: blue;
  color: white;
}

.icon-link a {
  color: white;
  text-decoration: none;
}

  
 

