/* Signup.css */

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(./images/newconfetti.png), radial-gradient(#db241e, #790808);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

.signup-form {
    background-color: rgba(0, 0, 139, 0.85); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .s2 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 20px;
}

.sn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: #f0f8ff; /* Light blue input background */
    color: #00008b; /* Dark blue text */
    font-size: 16px;
    outline: none;
}

.snb {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    background-color: red; /* Dark blue button background */
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.snb:hover {
    background-color: #001f4d; /* Slightly darker blue on hover */
}
